
<div>
	<div ng-controller="EditarShowcaseController as vm">
		<h1>{{vm.msgs}}</h1>
		<div ng-if="vm.showcase.codShowcase">
			<h1>Showcase Editar</h1>
		</div>
		<div ng-if="!vm.showcase.codShowcase">
			<h1>Showcase Incluir</h1>
		</div>

		<div>
			<pre>{{vm.showcase | json}}</pre>
		</div>

		<form>

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<label class="control-label">Veja abaixo exemplos de utilizacao de campo:</label>
				</div>

			</div>

			<!-- SENHA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<label for="senha" class="control-label">Senha</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="fa fa-lock">Senha</span>
							</span>
							<input id="senha" type="password" class="form-control" ng-model="vm.password"
								autocomplete="nope" uk-model-update-on submit>
						</div>
					</div>
				</div>
			</div>

			<!-- INPUT TEXT COM MASCARA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<label for="cpf" class="control-label">Ciaxa de Texto com mascara</label>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="fa fa-user">CPF</span>
						</span>
						<input id="cpf" type="cpf" class="form-control"
							style="background-color: transparent !important; cursor: pointer !important"
							mask='999.999.999-99' mask-restrict="reject" mask-clean="true"
							ng-model="vm.autenticacao.userName" ng-disabled="true">
					</div>
				</div>
			</div>

			<!-- SELECT SIMPLES -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="tipoAlgumaCoisa" class="control-label">Select Simples</label>
						<select id="tipoAlgumaCoisa" class="form-control"
							ng-options="item.codigo as item.descricao for item in vm.tipoDeAlgumaCoisa"
							ng-model="vm.filtros.codigoTipoDeAlgumaCoisa" selectpicker>
							<option value="" selected>Selecione</option>
						</select>
					</div>
				</div>
			</div>

			<!-- CHECKBOX -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Checkbox</label>
						<div class="row">
							<div class="col-sm-6" ng-repeat="situacao in vm.situacoes">
								<div class="checkbox" style="margin-bottom: 7px;">
									<input id="situacao{{$index}}" name="situacao{{$index}}" type="checkbox"
										value="{{situacao.codigo}}" checklist-model="vm.filtros.situacoes"
										checklist-value="situacao.codigo">
									<label for="situacao{{$index}}" ng-bind="situacao.descricao"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- DATA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="dataNascimento">Apenas Data</label>
						<div class="form-inline" id="idDataNascimento">
							<div class="input-group">
								<input name="dataNascimento" msg-erro="Data de Nascimento" msg-path="idDataNascimento"
									type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" show-weeks="false"
									mask="39/19/9999" mask-clean="false" mask-restrict="reject"
									ng-model="vm.filtros.datanascimento" show-button-bar="false" datepicker-localdate
									is-open="vm.showPopupDate['dataNascimento']" />
								<span> </span>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default btn-datepicker"
										ng-click="vm.abrirPopupDate($event, 'dataNascimento')">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- DATA e HORA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<div id="previsaoSaida" name="previsaoSaida">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="previsaoSaida" class="control-label required">Data e Hora</label>
									<div class="form-inline">
										<div class="input-group">
											<input id="dataSaida" name="data" msg-erro="Data de Saída Prevista"
												msg-path="previsaoSaida" type="text" class="form-control"
												uib-datepicker-popup="dd/MM/yyyy" show-weeks="false" mask="39/19/9999"
												mask-clean="false" mask-restrict="reject" ng-model="vm.prevSaidaTemp.dataPrevisaoSaida"
												show-button-bar="false" datepicker-localdate
												is-open="vm.showPopupDate['data_saida_prevista']" placeholder="Data" />
											<span> </span>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-datepicker"
													ng-click="vm.abrirPopupDate($event, 'data_saida_prevista')">
													<i class="fa fa-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="dataHora" class="control-label">&nbsp;</label>
									<input id="horaPrevisaoSaida" class="form-control" type="text"
										ng-model="vm.prevSaidaTemp.horaPrevisaoSaida" placeholder="00:00" mask="29:59"
										mask-restrict='reject'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- TEXTAREA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-5">
					<div class="form-group">
						<label for="descricao" class="control-label required">TextArea</label>
						<textarea id="descricao" ng-model="vm.entidade.descricao" maxlength="200" class="form-control"></textarea>
					</div>
				</div>
			</div>

			<!-- RADIO -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-10">
					<div class="form-group">
						<label class="control-label required">RadioButton</label>
						<div class="form-inline" id="ativo">
							<div class="radio col-sm-2">
								<input ng-model="vm.comunicado.ativo" type="radio" name="radio-situacao"
									id="radio-situacao-a" ng-value="true">
								<label for="radio-situacao-a">Ativo</label>
							</div>
							<div class="radio col-sm-2">
								<input ng-model="vm.comunicado.ativo" type="radio" name="radio-situacao"
									id="radio-situacao-i" ng-value="false">
								<label for="radio-situacao-i">Inativo</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- FILEUPLOAD -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<label for="previsaoSaida" class="control-label required">FileUpload</label>
					<div id="arquivos0nomeArquivoRecebido" class="input-group">
						<input type="text" class="form-control search" ng-model="vm.arquivo.name" disabled
							placeholder="O arquivo deve estar no formato CSV">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ngf-select ng-model="vm.arquivo" name="file"
								ngf-pattern="'.csv'" ngf-accept="'.csv'">
								<span class="fa fa-search" />
							</button>
						</span>
					</div>
				</div>
			</div>

			<!-- AUTOCOMPLETE -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<label for="previsaoSaida" class="control-label required">Autocomplete</label>
					<input id="selectAlgumaCoisa" class="form-control" type="text" ng-disabled="algumaCoisa.id"
						ng-model="algumaCoisa.obj"
						typeahead-input-formatter="algumaCoisa.id = algumaCoisa.obj.id; algumaCoisa.codigo = algumaCoisa.obj.codigo;"
						placeholder="Para adicionar informe ao menos 3 caracteres."
						uib-typeahead="tp as tp.codigo for tp in vm.pesquisarAlgumaCoisa($viewValue)"
						typeahead-loading="fase.carregandoAlgumaCoisa" typeahead-wait-ms="800"
						typeahead-min-length="3" autocomplete="off" />
				</div>
			</div>


			<!-- BUTTON -->
			<div class="form-group ">
				<button ng-if="!vm.showcase.codShowcase" ng-click="vm.incluir()" class="btn btn-primary">Incluir</button>
				<button ng-if="vm.showcase.codShowcase" ng-click="vm.alterar()" class="btn btn-primary">Alterar</button>
				<button ng-click="vm.irParaTelaConsultar()" class="btn btn-primary">Voltar</button>
			</div>

		</form>

	</div>
</div>
