

<div>
	<div ng-controller="EditarShowcaseController as vm">
		<h1>{{vm.msgs}}</h1>
		<div ng-if="vm.showcase.codShowcase">
			<h1>Showcase Editar</h1>
		</div>
		<div ng-if="!vm.showcase.codShowcase">
			<h1>Showcase Incluir</h1>
		</div>

		<div>
			<pre>Conteúdo que está armazenado neste momento no Controller, em vm.showcase:</pre>
			<pre>{{vm.showcase | json}}</pre>
		</div>

		<form>

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<label class="control-label">Veja abaixo exemplos de utilizacao de campo:</label>
				</div>

			</div>

			<!-- SENHA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<div class="form-group has-feedback">
						<label for="senha" class="control-label">Password: </label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="fa fa-lock">Senha</span>
							</span>
							<input id="senha" type="password" class="form-control" ng-model="vm.showcase.senha"
								autocomplete="nope" uk-model-update-on submit>
						</div>
					</div>
				</div>
			</div>

			<!-- INPUT TEXT COM MASCARA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<label for="cpf" class="control-label">Caixa de Texto com máscara: </label>
					<div class="input-group">
						<span class="input-group-addon">
							<span class="fa fa-user">CPF</span>
						</span>
						<input id="cpf" type="cpf" mask="999.999.999-99" ng-model="vm.showcase.cpf">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<label ng-repeat="conhecimento in conhecimentos">
						<input type="checkbox" checklist-model="conhecimento" checklist-value="conhecimento.codigo">
						{{role}}
					</label>
				</div>
			</div>


			<!-- SELECT SIMPLES -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="uf" class="control-label">Select Simples: </label>
						<label for="uf" class="control-label">UF</label>
						<select id="uf" class="form-control"
							ng-options="item.codigo as item.descricao for item in vm.ufs" ng-model="vm.showcase.uf"
							selectpicker>
							<option value="" selected>Selecione</option>
						</select>
					</div>
				</div>
			</div>

			<!-- CHECKBOX -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<div class="form-group">
						<label>Checkbox: </label>
						<label>Possui Conhecimentos em</label>
						<div class="row">
							<div class="col-sm-6" ng-repeat="conhecimento in vm.conhecimentos">
								<div class="checkbox" style="margin-bottom: 7px;">
									<input id="conhecimento{{$index}}" name="conhecimento{{$index}}" type="checkbox"
										value="{{conhecimento.codigo}}" checklist-model="vm.showcase.conhecimentos"
										checklist-value="conhecimento.codigo">
									<label for="conhecimento{{$index}}" ng-bind="conhecimento.descricao"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- DATA -->
			<div class="row">
				<div class="col-sm-2"></div>
				<label for="dataHoraDivulgacao">Apenas data:</label>
				<div class="col-sm-4">
					<p class="input-group">
						<label for="dataInicio">Data de Início</label>
						<input type="text" class="form-control" uib-datepicker-popup="{{format}}"
							ng-model="vm.showcase.dataInicio" is-open="vm.popup1.opened"
							datepicker-options="dateOptions" ng-required="true" close-text="Close"
							alt-input-formats="altInputFormats" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="vm.open1()">
								Calendário
							</button>
						</span>
					</p>
				</div>

				<div class="col-sm-4">
					<p class="input-group">
						<label for="dataTermino">Data de Término</label>
						<input type="text" class="form-control" uib-datepicker-popup
							ng-model="vm.showcase.dataTermino" is-open="vm.popup2.opened"
							datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="vm.open2()">
								Calendário
							</button>
						</span>
					</p>
				</div>

			</div>


			<!-- DATA e HORA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-4">
					<div id="dataHoraDivulgacao" name="dataHoraDivulgacao">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="dataHoraDivulgacao" class="control-label required">Data e Hora:</label>
									<div class="form-inline">
										<div class="input-group">
											<input id="dataSaida" name="data" msg-erro="Data de Divulgação"
												msg-path="dataHoraDivulgacao" type="text" class="form-control"
												uib-datepicker-popup="dd/MM/yyyy" show-weeks="false" mask="39/19/9999"
												mask-clean="false" mask-restrict="reject" ng-model="vm.showcase.dataDivulgacao"
												show-button-bar="false" datepicker-localdate
												is-open="vm.showPopupDate['data_saida_prevista']" placeholder="Data" />
											<span> </span>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default btn-datepicker"
													ng-click="vm.abrirPopupDate($event, 'data_saida_prevista')">
													<i class="fa fa-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="dataHora" class="control-label">&nbsp;</label>
									<input id="horaPrevisaoSaida" class="form-control" type="text"
										ng-model="vm.showcase.horaDivulgacao" placeholder="00:00" mask="29:59"
										mask-restrict='reject'>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- TEXTAREA -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-5">
					<div class="form-group">
						<label for="descricao" class="control-label required">TextArea: </label>
						<label for="descricao" class="control-label required">Justificativa</label>
						<textarea id="descricao" ng-model="vm.showcase.justificativa" maxlength="200"
							class="form-control"></textarea>
					</div>
				</div>
			</div>

			<!-- RADIO -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-10">
					<div class="form-group">
						<label class="control-label required">RadioButton: </label>
						<label class="control-label required">Situação</label>
						<div class="form-inline" id="ativo">
							<div class="radio col-sm-2">
								<input ng-model="vm.showcase.ativo" type="radio" name="radio-situacao" id="radio-situacao-a"
									ng-value="true">
								<label for="radio-situacao-a">Ativo</label>
							</div>
							<div class="radio col-sm-2">
								<input ng-model="vm.showcase.ativo" type="radio" name="radio-situacao" id="radio-situacao-i"
									ng-value="false">
								<label for="radio-situacao-i">Inativo</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- FILEUPLOAD -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<label for="previsaoSaida" class="control-label required">FileUpload: Ainda não funciona</label>
					<div id="arquivos0nomeArquivoRecebido" class="input-group">
						<input type="text" class="form-control search" ng-model="vm.arquivo.name" disabled
							placeholder="O arquivo deve estar no formato CSV">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ngf-select ng-model="vm.arquivo" name="file"
								ngf-pattern="'.csv'" ngf-accept="'.csv'">
								<span class="fa fa-search" />
							</button>
						</span>
					</div>
				</div>
			</div>

			<!-- AUTOCOMPLETE -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<label class="control-label required">Autocomplete: Estado dos EUA</label>
					<input id="stateUSA" type="text" ng-model="vm.showcase.stateUSA"
						ng-model-options="modelOptions"
						uib-typeahead="state for state in vm.states | filter:$viewValue | limitTo:8"
						class="form-control" />

					<label class="control-label required">Autocomplete: Endereco via API Google</label>

					<input type="text" ng-model="vm.showcase.enderecoFornecidoPorAPIGoogle"
						placeholder="Endereços dos EUA carregado via $http de uma API do Google"
						uib-typeahead="address for address in vm.getLocation($viewValue)"
						typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" />
				</div>
			</div>


			<!-- BUTTON -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-sm-3">
					<label for="previsaoSaida" class="control-label required">Botões:</label>
					<div class="form-group ">
						<button ng-if="!vm.showcase.codShowcase" ng-click="vm.incluir()" class="btn btn-primary">Incluir</button>
						<button ng-if="vm.showcase.codShowcase" ng-click="vm.alterar()" class="btn btn-primary">Alterar</button>
						<button ng-click="vm.irParaTelaConsultar()" class="btn btn-primary">Voltar</button>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>