/* ===================== GERAIS DO SISTEMA ===================== */
.col-md-1, .col-md-4, .col-md-6, .col-md-8, .col-md-12 {
	border-width: 1px;
	border-style: none;
}

.lazarus-align {
	vertical-align: middle;
	text-align: center;
}

.menu_lazarus {
    margin-bottom: 0px;
    border-radius: inherit;	
}

#titulo-site {
	color: #ffff99;
}

.rodape-lazarus{	
    margin-top: 5%;
}

.rodape-lazarus p{
	color: #ffff99!important;
}

#combo-filial{
	height: 45px;
	max-width: 32%;		
}

.btn-calendario{
    padding: 27px 0px 0px 5px;
}

.linha-site{
	margin-right: 0px;	
}

.linha-item {
    max-width: 32%;
    margin-right: 1%;	
    border-color: #339966;
    border-style: dotted;
}  

.linha-item a{
    text-decoration: none;		
}

.linha-item p{
	margin-top: 10px;
	text-align: initial;
}

.menu-opcoes-acesso{
	color: #ffff99;	
}

/* ===================== INICIO ===================== */

#combo-filial-lateral{
	height: 45px;
}

/* ===================== LISTA DE TIPOS DE QUARTOS ===================== */
.item-quarto{
    max-width: 24%;
    margin-right: 1%;	
    border-color: #339966;
    border-style: dotted;
}    
    
.item-quarto h5{
	float: right;	
	margin-top: 5px;
	margin-bottom: 5px;	
}

.item-quarto p{
	text-align: initial;	
}

.item-quarto a{
    text-decoration: none;		
}

.quarto_valor{
	width: 100%;
	height: 30px;		
}
.item-descricao{
	margin-top: 0px;		
}