<!-- ======================= CARROSSEL DE FOTOS =========================== -->
<div>
	<div ng-controller="InicioController as vm">
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- Slide One - Set the background image for this slide in the line below -->
				<div class="carousel-item active"
					style="background-image: url('../img/ab4578e742018724392cec80e3869247.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>Lazer</h3>
						<p>Aproveite a vida.</p>
					</div>
				</div>
				<!-- Slide Two - Set the background image for this slide in the line below -->
				<div class="carousel-item"
					style="background-image: url('../img/paisagem-rio-de-janeiro-1024x669.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>Bem estar</h3>
						<p>Lindos lugares.</p>
					</div>
				</div>
				<!-- Slide Three - Set the background image for this slide in the line below -->
				<div class="carousel-item"
					style="background-image: url('../img/13487911.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>F&eacute;rias</h3>
						<p>Relaxe e desfrute de bons momentos.</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Anterior</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Proximo</span>
			</a>
		</div>


		<div class="row linha-site well">
			<div class="container">
				<div class="col-sm-4">

					<!-- TITULO -->
					<div class="row">
						<h3 align="left">
							Quartos dispon&iacute;veis
							</h1>
						</h3>
					</div>

					<!-- FILIAL -->
					<div class="well">
						<div class="row">
							<div class="col-sm-12">
								<label for="dtNasc" class="cols-sm-2 control-label">Hotel
									Destino</label>
							</div>

							<div class="col-sm-12">
								<select id="filiais" class="btn btn-primary"
									ng-options="item.codFilial as item.nome for item in vm.filiais"
									ng-model="vm.filtros.codFilial" selectpicker>
									<option value="" selected>Selecione</option>
								</select>

							</div>
						</div>

						<!-- DATA ENTRADA -->
						<div class="row">
							<div class="col-sm-12">
								<label for="dtNasc" class="cols-sm-2 control-label">Data
									de Entrada</label>
							</div>
							<div class="col-sm-12">
								<p class="input-group">
									<input type="text" class="form-control" id="dtNasc"
										uib-datepicker-popup="{{format}}"
										ng-model="vm.filtros.dataEntrada"
										is-open="vm.popupDataEntrada.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="vm.openDataEntrada()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>

						<!-- DATA SAIDA -->
						<div class="row">
							<div class="col-sm-12">
								<label for="dtNasc" class="cols-sm-2 control-label">Data
									de Sa&iacute;da</label>
							</div>
							<div class="col-sm-12">
								<p class="input-group">
									<input type="text" class="form-control" id="dtNasc"
										uib-datepicker-popup="{{format}}"
										ng-model="vm.filtros.dataSaida"
										is-open="vm.popupDataSaida.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="vm.openDataSaida()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>

						<!-- BOTAO BUSCAR -->
						<div class="botoes-meio" align="center">
							<button ng-click="vm.irParaTelaPesquisaReserva()" name="buscar"
								class="btn btn-primary">Buscar</button>
						</div>
					</div>
				</div>
				<!-- ======================= FILIAIS/HOTEIS =========================== -->



				<div class="col-sm-8">
					<h1>Nossos Hot&eacute;is</h1>
					<p>Nossa rede de hoteis est&aacute; presente na maioria dos
						Estados. Confira e explore nossas filiais:</p>

					<div class="row">
						<div class="container-fluid bg-4 text-center">
							<div ng-repeat="filial in vm.filiais track by filial.codFilial">


								<div ng-if="filial.exibirSite == 1" class="col-sm-4 linha-item">

									<button class="btn btn-primary"
										ng-click="vm.pesquisarReservasFilial(filial.codFilial)">Ver
										Quartos</button>

									<a>
										<h4>{{filial.nome}}</h4> <img
										ng-src="data:image/jpeg;base64,{{filial.foto.imagemMiniatura}}"
										class="img-responsive" style="width: 100%" alt="Image" />

										<p>{{filial.descricao}}</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>


		</div>
		<div class="row linha-site">
			<div class="col-sm-12">
				<!-- ================= DEBUG ================= -->
				<debug objeto="{{vm.filtros | json}}"></debug>
			</div>
		</div>
	</div>
</div>


