
<div>
	<div ng-controller="DetalharUsuarioController as vm">

		<div class=".container">

			<div class="row">
				<div class="col-md-12 lazarus-align">
					<h2>Detalhar do Usu&aacute;rio</h2>
				</div>
			</div>

			<div class="well">

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="nome" class="cols-sm-2 control-label">C&oacute;digo</label>
					</div>
					<div class="col-md-6">
						<span id="nome">{{vm.usuario.codUsuario}}</span>
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="nome" class="cols-sm-2 control-label">Nome</label>
					</div>
					<div class="col-md-6">
						<span id="nome">{{vm.usuario.nome}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="nome" class="cols-sm-2 control-label">Ativo</label>
					</div>
					<div class="col-md-6">
						<span id="nome">{{vm.usuario.ativo}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="dtNasc" class="cols-sm-2 control-label">Data
							Nascimento</label>
					</div>
					<div class="col-md-6">
						<span id="dtNasc">{{vm.usuario.dtNasc}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="sexo" class="cols-sm-2 control-label">Sexo</label>
					</div>
					<div class="col-md-6">
						<span id="sexo">{{vm.usuario.sexo}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="nacionalidade" class="cols-sm-2 control-label">Nacionalidade</label>
					</div>
					<div class="col-md-6">
						<span id="nacionalidade">{{vm.usuario.nacionalidade}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="perfil" class="cols-sm-2 control-label">Perfil</label>
					</div>
					<div class="col-md-6">
						<span id="telefone">{{vm.usuario.perfil}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="telefone" class="cols-sm-2 control-label">Telefone</label>
					</div>
					<div class="col-md-6">
						<span id="telefone">{{vm.usuario.telefone}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="email" class="cols-sm-2 control-label">E-mail</label>
					</div>
					<div class="col-md-6">
						<span id="email">{{vm.usuario.email}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="senha" class="cols-sm-2 control-label">Senha</label>
					</div>
					<div class="col-md-6">
						<span id="senha">{{vm.usuario.senha}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-2">
						<label for="status" class="cols-sm-2 control-label">Status</label>
					</div>
					<div class="col-md-6">
						<span id="status">{{vm.usuario.status}}</span>
					</div>
					<div class="col-md-2"></div>
				</div>

			</div>

			<!-- FAZER RESTO DO FORMULARIO PARA OS DEMAIS CAMPOS:
			Passaporte 
			EndRua 
			EndNro 
			EndBairro 
			EndCidade 
			EndUf 
			EndCompl 
			SenhaAcesso 
			Status  -->

		</div>

		<div class="row">
			<div class="col-md-12 lazarus-align">
				<div class="lazarus-align">
					<button ng-click="vm.voltarParaTelaAnterior()"
						class="btn btn-primary">Voltar</button>
					<button ng-click="vm.irParaTelaEdicao(vm.usuario.codUsuario)"
						class="btn btn-primary">Editar</button>
					<button ng-click="vm.excluir(vm.usuario.codUsuario)"
						class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</div>

		<debug objeto="{{vm.usuario | json}}"></debug>

	</div>

</div>
