<div>
	<div ng-controller="ConsultarUsuarioController as vm">

		<div class=".container">
			<div class="row">
				<div class="col-md-12" align="center">
					<div class=".text-sucess .bg-sucess">{{vm.msgs}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<h2>Consultar Usuario</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<div><pre>{{vm.usuario | json}}</pre></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome" class="cols-sm-2 control-label">Nome</label>
						<div class="cols-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" name="nome" id="nome" ng-model="vm.usuario.nome"
									placeholder="Nome do Fulano(a)" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div align="center">
						<button ng-click="vm.irParaTelaInclusao()" class="btn btn-primary">Incluir</button>
						<button ng-click="vm.pesquisarLimpar()" class="btn btn-primary">Pesquisar</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div ng-if="vm.usuarios.length > 0">
						<table class="table table-striped">
							<thead>
								<tr>
									<td>ID</td>
									<td>Nome</td>
									<td>Ativo</td>
									<td>Data Nascimento</td>
									<td>Sexo</td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="usuario in vm.usuario">
									<td>{{ usuario.codUsuario}}</td>
									<td>{{ usuario.nome}}</td>
									<td>{{ usuario.ativo}}</td>
									<td>{{ usuario.dtNasc}}</td>
									<td>{{ usuario.sexo}}</td>
									<td>
										<button ng-click="vm.irParaTelaDetalhamento(usuario.codUsuario)" class="btn btn-primary btn-xs">Detalhar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>