<!-- ======================= SOLICITAR RESERVA =========================== -->
<div>
	<div ng-controller="DetalharReservaController as vm">

		<!-- ================= CORPO DA PaGINA ================= -->
		<div class="row linha-site">
			<div class="container">
				<!-- ================= TiTULO ================= -->
				<div class="titulo-paginas-meio">
					<div>
						<h1>Detalhar Reserva</h1>
					</div>
				</div>

				<!-- ======================= FORMULARIO DE ATRIBUTO =========================== -->
				<form>

					<!-- NOME -->
					<div class="well">
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="nome" class="cols-sm-2 control-label">Quarto
									Selecionado</label>
							</div>
							<div class="col-md-4">
								<h4>Quarto Solteiro</h4>
								<img
									ng-src="data:image/jpeg;base64,{{vm.reserva.quarto.foto.imagemMiniatura}}"
									class="img-responsive" style="width: 100%" alt="Image">
								<div class="quarto_valor">
									<h5>{{vm.reserva.quarto.descricaoTipoQuarto}}</h5>
								</div>
								<div class="quarto_valor">
									<h5>Qtde camas: {{vm.reserva.quarto.nrCamas}}</h5>
								</div>
								<p>{{vm.reserva.quarto.descricao}}</p>
							</div>
							<div class="col-md-2"></div>
						</div>
						
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="cpf" class="cols-sm-2 control-label">Status</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.statusDescricao}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="cpf" class="cols-sm-2 control-label">Data
									Entrada</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.dataEntrada  | date:'dd/MM/yyyy 12:00'}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>
						
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="cpf" class="cols-sm-2 control-label">Data
									Sa&iacute;da</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.dataSaida  | date:'dd/MM/yyyy 14:00'}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>
						
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="cpf" class="cols-sm-2 control-label">Valor (R$)</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.preco | currency:'R$'}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>

						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="cpf" class="cols-sm-2 control-label required">CPF</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.cpf}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>

						<!-- NOME -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="nome" class="cols-sm-2 control-label required">Nome</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.nome}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>

						<!-- TELEFONE -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="telefone" class="cols-sm-2 control-label required">Telefone</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.telefone}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>

						<!-- E-MAIL -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="email1" class="cols-sm-2 control-label required">E-mail</label>
							</div>
							<div class="col-md-6">
								<span id="nome">{{vm.reserva.email}}</span>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>					
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 lazarus-align">
				<div class="lazarus-align">
					<button ng-click="vm.voltarParaTelaAnterior()"
						class="btn btn-primary">Voltar</button>
						
					<button ng-click="vm.confirmar()" ng-if="vm.reserva.status == 1"
						class="btn btn-primary">Confirmar</button>
						
					<button ng-click="vm.checkin()" ng-if="vm.reserva.status == 2"
						class="btn btn-primary">Check-in</button>
		
					<button ng-click="vm.checkout()" ng-if="vm.reserva.status == 3"
						class="btn btn-primary">Check-out</button>
						
					<button ng-click="vm.cancelar()" ng-if="(vm.reserva.status != 4) && (vm.reserva.status != 0)"
						class="btn btn-primary">Cancelar</button>
				</div>
			</div>
		</div>

		<!-- ================= DEBUG ================= -->
		<debug objeto="{{vm.quarto | json}}"></debug>

	</div>

</div>
