<div><!-- div pai -->
	<div ng-controller="ConsultarReservaController as vm"><!-- div controlador -->
		
		<div class="container"><!-- div class container parte1 -->
		
			<!-- ================= TITULO ================= -->
			<div class="titulo-paginas-meio">
				<h1>Resumo de Movimenta&ccedil;&atilde;o</h1>
			</div>	
			<div class=".container">
				<div class="row">
			
			<!-- ======================= CONSULTA DE QUARTOS =========================== -->
			<div class=".container">
			
				<div class="row"><!-- div class form + foto hotel + atributos -->
					
					<div class="col-sm-6">
						
						<div class="row campo-form">
							<div class="col-sm-4">
								<label for="combo-filial" class="cols-sm-2 control-label required">Hotel</label>
							</div>			
							<div class="col-sm-8">						
								<select id="filiais" class="btn btn-primary" ng-click="vm.carregarFilial()"
									ng-options="item.codFilial as item.nome for item in vm.filiais"
									ng-model="vm.filtros.codFilial"	>
									<option value="" selected>Selecione</option>
								</select>
							</div>
						</div>
						
						<!-- DATA ENTRADA -->
						<div class="row campo-form">
							<div class="col-sm-4">
								<label for="dtNasc" class="cols-sm-2 control-label required">Data
									de Entrada</label>
							</div>
							<div class="col-sm-8">
								<p class="input-group">
									<input type="text" class="form-control" id="dtNasc"
										uib-datepicker-popup="{{format}}"
										ng-model="vm.filtros.dataEntrada"
										is-open="vm.popupDataEntrada.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="vm.openDataEntrada()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
								
						<!-- DATA SAIDA -->
						<div class="row campo-form">
							<div class="col-sm-4">
								<label for="dtNasc" class="cols-sm-2 control-label required">Data de Sa&iacute;da</label>
							</div>
							<div class="col-sm-8">
								<p class="input-group">
									<input type="text" class="form-control" id="dtNasc"
										uib-datepicker-popup="{{format}}"
										ng-model="vm.filtros.dataSaida"
										is-open="vm.popupDataSaida.opened"
										datepicker-options="dateOptions" ng-required="true"
										close-text="Close" alt-input-formats="altInputFormats" 
										 /> 
										<span class="input-group-btn" >
										
										<button type="button" class="btn btn-default" 
											ng-click="vm.openDataSaida()">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</div>
						</div>
									
						<!-- BOTAO BUSCAR -->
						<div class="botoes-meio" align="center">
							<button ng-click="vm.pesquisarLimpar()" name="buscar"
								class="btn btn-primary">Buscar</button>
						</div>
								
					</div>
					<!-- ======================= Dashboard  =========================== -->
					<div class="col-sm-6">
					<div class="container-fluid bg-4 text-center">
						<div class="row">
							<div class="col-sm-12 item-quarto">
								
									<h4>Quartos para reserva:</h4> 
									<div class="quarto_valor">
										<h5>{{vm.quartosDisponiveis}}</h5>
									</div>
									<h4>Quartos reservados:</h4> 
									<div class="quarto_valor">
										<h5>{{vm.totalresults}}</h5>
									</div>
									<h4>Total de quartos:</h4> 
									<div class="quarto_valor">
										<h5>{{vm.totalresults + vm.quartosDisponiveis}}</h5>
									</div>
									<p>&nbsp;</p>
								</a>
							</div>
						</div>
						</br>
					</div>
				</div>
					</div>
				</div>
			</div>
			
			
			<!-- div class .container parte1 -->
			
			<!-- TESTE BUSCA PAGINADA -->
			<div ng-show="vm.reservas.length > 0" class="well">				
				<div class="clearfix">
					<div class="pull-right">
						<select id="pageSize" class="form-control"
							ng-options="item for item in vm.pageoptions"
							ng-model="vm.pagesize" ng-change="vm.pageSizeAlterado()"
							selectpicker>
						</select>
					</div>
					<br> <br>
					<table id="table-results" data-searching="false"
						data-ordering="false" class="table table-striped grid-pesquisa">
						<thead>
							<tr>
								<th>Hotel</th>
								<th>N&uacute;mero do Quarto</th>
								<th>Data da Reserva</th>
								<th>Data de Entrada</th>
								<th>Data de Sa&iacute;da</th>
								<th>Valor (R$)</th>
								<th class="text-center">A&ccedil;&atilde;o</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="reserva in vm.reservas">
								<td ng-bind="reserva.nomeFilial"></td>
								<td ng-bind="reserva.quarto.idQuarto"></td>
								<td ng-bind="reserva.dtReserva"></td>
								<td ng-bind="reserva.dataEntrada"></td>
								<td ng-bind="reserva.dataSaida"></td>
								<td ng-bind="reserva.preco | currency"></td>
								<td class="text-center"><a
									ng-click="vm.irParaTelaDetalhamento(reserva.codReserva)"
									class="btn btn-primary btn-xs">Detalhar</a></td>
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<div uib-pagination total-items="vm.totalresults"
							items-per-page="vm.pagesize" ng-model="vm.currentpage"
							ng-change="vm.paginaAlterada()" max-size="10" rotate="false"
							boundary-links="true" previous-text="&lt;" next-text="&gt;"
							first-text="&lt;&lt;" last-text="&gt;&gt;"></div>
					</div>
				</div>
			</div>
 		
		<!-- ================= DEBUG ================= -->
		
		</div><!-- div class container parte2 -->
		<debug objeto="{{vm.filtros | json}}"></debug>
		<debug objeto="{{vm.quartos | json}}"></debug>
	</div><!-- div controlador -->
</div><!-- div pai -->