<div>
	<div ng-controller="ConsultarQuartoController as vm">

		<!-- ================= CORPO DA PAGINA ================= -->
		<div class="row linha-site">
		<div class="container">
		<!-- ================= TITULO ================= -->
		<div class="titulo-paginas-meio">
			<h1>Quartos</h1>
		</div>	
		<!-- ======================= CONSULTA DE ATRIBUTOS =========================== -->
		<div class=".container">
		
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome" class="cols-sm-2 control-label">Nome</label>
						<div class="cols-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" name="nome" id="nome"
									ng-model="vm.filtros.nome" placeholder="Quarto" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row campo-form">
				<div class="col-md-12">
					<div align="center">
						<button ng-click="vm.irParaTelaInclusao()" class="btn btn-primary">Incluir</button>
						<button ng-click="vm.pesquisarLimpar()" class="btn btn-primary">Pesquisar</button>
					</div>
				</div>
			</div>
 			<br>
			<!-- TESTE BUSCA PAGINADA -->
			<div ng-show="vm.quartos.length > 0" class="well">
				<div class="clearfix">
					<div class="pull-right">
						<select id="pageSize" class="form-control"
							ng-options="item for item in vm.pageoptions"
							ng-model="vm.pagesize" ng-change="vm.pageSizeAlterado()"
							selectpicker>
						</select>
					</div>
					<br> <br>
					<table id="table-results" data-searching="false"
						data-ordering="false" class="table table-striped grid-pesquisa">
						<thead>
							<tr>
								<th>N&uacute;mero do Quarto</th>
								<th>N&uacute;mero de Camas</th>
								<th>Descri&ccedil;&atilde;o</th>
								<th class="text-center">A&ccedil;&atilde;o</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="quarto in vm.quartos">
								<td ng-bind="quarto.idQuarto"></td>
								<td ng-bind="quarto.nrCamas"></td>
								<td ng-bind="quarto.descricao"></td>
								<td class="text-center"><a
									ng-click="vm.irParaTelaDetalhamento(quarto.codQuarto)"
									class="btn btn-primary btn-xs">Detalhar</a></td>
							</tr>
						</tbody>
					</table>
					<div class="text-center">
						<div uib-pagination total-items="vm.totalresults"
							items-per-page="vm.pagesize" ng-model="vm.currentpage"
							ng-change="vm.paginaAlterada()" max-size="10" rotate="false"
							boundary-links="true" previous-text="&lt;" next-text="&gt;"
							first-text="&lt;&lt;" last-text="&gt;&gt;"></div>
					</div>

				</div>
			</div>

		</div>
		
		<!-- ================= DEBUG ================= -->
		<debug objeto="{{vm.quartos | json}}"></debug>
		<debug objeto="{{vm.filtros | json}}"></debug>
	</div>
	</div>
	</div>
</div>