<div>
	<div ng-controller="ConsultarFilialController as vm">

		<div class=".container">
			<div class="row">
				<div class="col-md-12" align="center">
					<div class=".text-sucess .bg-sucess">{{vm.msgs}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<h2>Consultar Filiais</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<div><pre>{{vm.filial | json}}</pre></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome" class="cols-sm-2 control-label">Nome</label>
						<div class="cols-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" name="nome" id="nome" ng-model="vm.filial.nome"
									placeholder="Nome da Filial" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div align="center">
						<button ng-click="vm.irParaTelaInclusao()" class="btn btn-primary">Incluir</button>
						<button ng-click="vm.pesquisarLimpar()" class="btn btn-primary">Pesquisar</button>
					</div>
				</div>
			</div>
			<div ng-if="vm.filiais.length > 0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Nome</td>
                            <td>Descrição</td>
                            <td>E-mail</td>
                            <td>Ação</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="filial in vm.filiais">
                            <td>{{ filial.nome}}</td>
                            <td>{{ filial.descricao}}</td>
                            <td>{{ filial.email}}</td>
                            <td><a ng-click="vm.irParaTelaDetalhamento(filial.codFilial)" class="btn btn-primary btn-xs">Detalhar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</div>