
<div>
	<div ng-controller="DetalharFilialController as dcc">

		<div class=".container">
			<div class="row">
				<div class="col-md-12" align="center">
					<div class=".text-sucess .bg-sucess">{{vm.msgs}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<h2>Detalhar a Filial</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="status" class="cols-sm-2 control-label">Foto</label>
				</div>
				<div class="col-md-2">
					<img
						ng-src="data:image/jpeg;base64,{{dcc.filial.foto.imagemMiniatura}}"
						class="img-responsive" style="width: 100%" alt="Image" />
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">C&oacute;digo</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.filial.codFilial}}</span>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">Nome</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.filial.nome}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">E-mail</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.filial.email}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="descricao" class="cols-sm-2 control-label">Descri&ccedil;&atilde;o</label>
				</div>
				<div class="col-md-6">
					<span id="dtNasc">{{dcc.filial.descricao}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="exibirSite" class="cols-sm-2 control-label">Site</label>
				</div>
				<div class="col-md-6">
					<span id="sexo">{{dcc.filial.exibirSite}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="status" class="cols-sm-2 control-label">Status</label>
				</div>
				<div class="col-md-6">
					<span id="sexo">{{dcc.filial.status}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 lazarus-align">
				<div class="lazarus-align">
					<button ng-click="dcc.voltarParaTelaAnterior()"
						class="btn btn-primary">Voltar</button>
					<button ng-click="dcc.irParaTelaEdicao(dcc.filial.codFilial)"
						class="btn btn-primary">Editar</button>
					<button ng-click="dcc.excluir(dcc.filial.codFilial)"
						class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div>
					<pre>{{dcc.filial | json}}</pre>
				</div>
			</div>
		</div>

	</div>

</div>
