
<div>
	<div ng-controller="EditarFilialController as vm">
		<h1>{{vm.msgs}}</h1>
		<div ng-if="vm.filial.codFilial">
			<h1>Filial Editar</h1>
		</div>
		<div ng-if="!vm.filial.codFilial">
			<h1>Filial Incluir</h1>
		</div>

		<form>

			<div class="row" ng-if="vm.filial.codFilial">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">C&oacute;digo</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{vm.filial.codFilial}}</span>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label requerid">Nome</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" name="nome" id="nome"
						ng-model="vm.filial.nome" placeholder="Nome da Filial" />
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="dtNasc" class="cols-sm-2 control-label">Descricao</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" name="descricao"
						id="descricao" ng-model="vm.filial.descricao" />
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="email1" class="cols-sm-2 control-label requerid">E-mail</label>
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control" name="email1" id="email1"
						ng-model="vm.filial.email" />
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="exibirSite" class="cols-sm-2 control-label">Exibir
						Site</label>
				</div>
				<div class="col-md-6">
					<div class="form-inline" id="exibirSite">
						<div class="radio col-sm-2">
							<input ng-model="vm.filial.exibirSite" type="radio"
								name="radio-situacao" id="ex-s" ng-value="1"> <label
								for="ex-s">Sim</label>
						</div>
						<div class="radio col-sm-2">
							<input ng-model="vm.filial.exibirSite" type="radio"
								name="radio-situacao" id="ex-n" ng-value="2"> <label
								for="ex-n">N&atilde;o</label>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="foto" class="cols-sm-2 control-label">Foto</label>
				</div>
				<div class="col-sm-8">

					<div class="row">

						&nbsp;<input class="btn btn-sucess" type="file"
							fileread="vm.imagem" />

						<div class="col-sm-2" ng-if="vm.imagem">
							<img src="{{vm.imagem}}" width="100" class="img-responsive"
								style="width: 100%" alt="Image">
						</div>

						<div class="col-md-2" ng-if="!vm.imagem">
							<img
								ng-src="data:image/jpeg;base64,{{vm.filial.foto.imagemMiniatura}}"
								class="img-responsive" style="width: 100%" alt="Image" />
						</div>

					</div>
					<div class="row">
						<div class="col-sm-4">
							<button ng-click="vm.uploadImage()">Enviar Imagem</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="status" class="cols-sm-2 control-label">Status</label>
				</div>
				<div class="col-md-6">
					<div class="form-inline" id="status">
						<div class="radio col-sm-2">
							<input ng-model="vm.filial.status" type="radio"
								name="radio-status" id="ex-a" ng-value="1"> <label
								for="ex-a">Ativo</label>
						</div>
						<div class="radio col-sm-2">
							<input ng-model="vm.filial.status" type="radio"
								name="radio-status" id="ex-i" ng-value="2"> <label
								for="ex-i">Inativo</label>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="atributos" class="cols-sm-2 control-label">Atributos</label>
				</div>
				<div class="col-md-5">
					<select id="atributos"
						ng-options="item as item.nome for item in vm.atributos"
						ng-model="vm.atributo" selectpicker>
						<option value="" selected>Selecione</option>
					</select>
				</div>
				<div class="col-md-1">							
					<button ng-click="vm.inserirAtributoNaLista()"
						class="btn btn-primary">+</button>

				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2"></div>
				<div class="col-sm-6">
					<table id="table-results" data-searching="false"
					data-ordering="false" class="table" ng-if="vm.filial.atributos.length > 0">
						<thead>
							<tr>
								<th>Descri&ccedil;&atilde;o</th>										
								<th class="text-center">A&ccedil;&atilde;o</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="atributo in vm.filial.atributos">										
								<td ng-bind="atributo.descricao"></td>
								<td class="text-center"><a
									ng-click="vm.removerAtributoDaLista(atributo.codAtributo)"
									class="btn btn-primary btn-xs">-</a></td>
							</tr>
						</tbody>
					</table>						
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<br>
			</div>

			<div class="form-group ">
				<button ng-disabled="vm.enviandoFoto" ng-if="!vm.filial.codFilial" ng-click="vm.incluir()"
					class="btn btn-primary">Incluir</button>
				<button ng-disabled="vm.enviandoFoto" ng-if="vm.filial.codFilial" ng-click="vm.alterar()"
					class="btn btn-primary">Alterar</button>
				<button ng-click="vm.irParaTelaConsultar()" class="btn btn-primary">Voltar</button>
			</div>
		</form>

		<div>
			<pre>{{vm.filial | json}}</pre>
			<pre>{{vm.imagem | json}}</pre>
		</div>

	</div>
</div>
