<div>
<div ng-controller="ConsultarTipoQuartoController as vm">

		<!-- ================= CORPO DA PAGINA ================= -->
		<div class="row linha-site">
		<div class="container">
		<!-- ================= TITULO ================= -->
		<div class="titulo-paginas-meio">
			<h1>Consultar Tipos de Quarto</h1>
		</div>	


		<div class=".container">
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome" class="cols-sm-2 control-label">Pesquisar</label>
						<div class="cols-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" name="nome" id="nome" ng-model="vm.filtros.nome"
									placeholder="Nome do Tipo de Quarto" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row campo-form">
				<div class="col-md-12">
					<div align="center">
						<button ng-click="vm.irParaTelaInclusao()" class="btn btn-primary">Incluir</button>
						<button ng-click="vm.pesquisarLimpar()" class="btn btn-primary">Pesquisar</button>
					</div>
				</div>
			</div>
			<div ng-show="vm.tiposquartos.length > 0" class="well">
				<div class="clearfix">
					<div class="pull-right">
						<select id="pageSize" class="form-control"
							ng-options="item for item in vm.pageoptions"
							ng-model="vm.pagesize" ng-change="vm.pageSizeAlterado()"
							selectpicker>
						</select>
					</div>
					<br> <br>
						<table class="table table-striped grid-pesquisa">
							<thead>
								<tr>
									<td>Cod.</td>
									<td>Nome</td>
		                            <td>Descri&ccedil;&atilde;o</td>
		                            <td>Status</td>      
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tipoquarto in vm.tiposquartos">
									<td>{{ tipoquarto.codTipoQuarto}}</td>
									<td>{{ tipoquarto.nome}}</td>
									<td>{{ tipoquarto.descricao}}</td>
									<td>{{ tipoquarto.status}}</td>
									<td>
										<button ng-click="vm.irParaTelaDetalhamento(tipoquarto.codTipoQuarto)" class="btn btn-primary btn-xs">Detalhar</button>
									</td>
								</tr>
							</tbody>
						</table>
					<div class="text-center">
						<div uib-pagination total-items="vm.totalresults"
							items-per-page="vm.pagesize" ng-model="vm.currentpage"
							ng-change="vm.paginaAlterada()" max-size="10" rotate="false"
							boundary-links="true" previous-text="&lt;" next-text="&gt;"
							first-text="&lt;&lt;" last-text="&gt;&gt;"></div>
					</div>

				</div>
			</div>

		</div>
		
		<!-- ================= DEBUG ================= -->
		<debug objeto="{{vm.filtros | json}}"></debug>		
		
	</div>
	</div>
</div>
</div>