<div>
	<div ng-controller="ConsultarTipoQuartoController as vm">

		<!-- ================= CORPO DA PAGINA ================= -->
		<div class="row linha-site">
		<div class="container">
		<!-- ================= TITULO ================= -->
		<div class="titulo-paginas-meio">
			<h1>Tipos de Quarto</h1>
		</div>	


		<div class=".container">
			
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome" class="cols-sm-2 control-label">Nome</label>
						<div class="cols-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" name="nome" id="nome" ng-model="vm.filtros.nome"
									placeholder="Nome do TipoQuarto" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div align="center">
						<button ng-click="vm.irParaTelaInclusao()" class="btn btn-primary">Incluir</button>
						<button ng-click="vm.pesquisarLimpar()" class="btn btn-primary">Pesquisar</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div ng-if="vm.tiposquartos.length > 0">
						<table class="table table-striped grid-pesquisa">
							<thead>
								<tr>
									<td>Cod.</td>
									<td>Nome</td>
		                            <td>Descri&ccedil;&atilde;o</td>
		                            <td>Status</td>      
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tipoquarto in vm.tiposquartos">
									<td>{{ tipoquarto.codTipoQuarto}}</td>
									<td>{{ tipoquarto.nome}}</td>
									<td>{{ tipoquarto.descricao}}</td>
									<td>{{ tipoquarto.status}}</td>
									<td>
										<button ng-click="vm.irParaTelaDetalhamento(tipoquarto.codTipoQuarto)" class="btn btn-primary btn-xs">Detalhar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- ================= DEBUG ================= -->
		<debug objeto="{{vm.filtros | json}}"></debug>		
		
	</div>
</div>