<div>
	<div ng-controller="EditarTipoQuartoController as vm">
		<!-- ================= CORPO DA PAGINA ================= -->
		<div class="row linha-site">
			<div class="container">

				<!-- ================= TITULO ================= -->
				<div class="titulo-paginas-meio">
					<div ng-if="vm.tipoQuarto.codTipoQuarto">
						<h1>Editar Tipo de Quarto</h1>
					</div>
					<div ng-if="!vm.tipoQuarto.codTipoQuarto">
						<h1>Incluir Tipo de Quarto</h1>
					</div>
				</div>

				<!-- ======================= FORMULARIO =========================== -->

				<form>

					<div class="row campo-form" ng-if="vm.tipoquarto.codTipoQuarto">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="nome" class="cols-sm-2 control-label">C&oacute;digo</label>
						</div>
						<div class="col-md-6">
							<span id="nome">{{vm.tipoquarto.codTipoQuarto}}</span>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-2"></div>
					</div>
					<div class="well">
						<!-- NOME -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="nome" class="cols-sm-2 control-label required">Nome</label>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" name="nome" id="nome"
									ng-model="vm.tipoQuarto.nome"
									placeholder="Nome do Tipo de Quarto" />
							</div>
							<div class="col-md-2"></div>
						</div>
						<!-- DESCRICAO -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="descricao" class="cols-sm-2 control-label required">Descri&ccedil;&atilde;o</label>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" name="descricao"
									id="descricao" ng-model="vm.tipoQuarto.descricao"
									placeholder="Descri&ccedil;&atilde;o do Tipo de Quarto" />
							</div>
							<div class="col-md-2"></div>
						</div>
						
						<!-- PRECO -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="preco" class="cols-sm-2 control-label required">Pre&ccedil;o</label>
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" name="preco" 
									id="preco" ng-model="vm.tipoQuarto.preco"
									 />
							</div>
							<div class="col-md-2"></div>
						</div>

						<!-- STATUS (?) -->
						<div class="row campo-form">
							<div class="col-md-2"></div>
							<div class="col-md-2">
								<label for="status" class="cols-sm-2 control-label">Status</label>
							</div>
							<div class="col-md-6">
								<div class="form-inline" id="status">
									<div class="radio col-sm-2">
										<input ng-model="vm.tipoQuarto.status" type="radio"
											name="radio-status" id="ex-a" ng-value="1"> <label
											for="ex-a">Ativo</label>
									</div>
									<div class="radio col-sm-2">
										<input ng-model="vm.tipoQuarto.status" type="radio"
											name="radio-status" id="ex-i" ng-value="2"> <label
											for="ex-i">Inativo</label>
									</div>
								</div>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>

					<div class="col-sm-10">
						<div class="row botoes-direita">
							<button ng-if="!vm.tipoQuarto.codTipoQuarto"
								ng-click="vm.incluir()" class="btn btn-primary">Salvar</button>
							<button ng-if="vm.tipoQuarto.codTipoQuarto"
								ng-click="vm.alterar()" class="btn btn-primary">Alterar</button>
							<button ng-click="vm.irParaTelaConsultar()"
								class="btn btn-primary">Voltar</button>
						</div>
					</div>

				</form>

			</div>
			<!-- ================= DEBUG ================= -->
			<debug objeto="{{vm.tipoQuarto | json}}"></debug>
		</div>
	</div>
</div>
