<div>
	<div ng-controller="LoginController as vm">

		<div class="row linha-site">
			<div ng-if="!nomeUsuario" class="container well">
				<!-- ================= TITULO ================= -->

				<div class="row campo-form">
					<div class="col-sm-5"></div>
					<div class="col-sm-2">
						
						<h1>LOGIN</h1>
						
					</div>
					<div class="col-sm-5"></div>
				</div>

				<form>

					<div class="row campo-form">
						<div class="col-md-4"></div>
						<div class="col-md-1">
							<label for="usuario" class="cols-sm-2 control-label required">Usu&aacute;rio</label>
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" name="usuario"
								id="usuario" ng-model="vm.dadosLogin.usuario"
								placeholder="Nome do Usuario" />
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="row campo-form">
						<div class="col-md-4"></div>
						<div class="col-md-1">
							<label for="senha" class="cols-sm-2 control-label required">Senha</label>
						</div>
						<div class="col-md-3">
							<input type="password" class="form-control" name="senha"
								id="senha" ng-model="vm.dadosLogin.senha" />
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="row campo-form">
						<div class="col-sm-5"></div>
						<div class="col-sm-2">
							<button type="button" ng-click="vm.login()"
								class="btn btn-primary" align="left">LOGIN</button>
						</div>
						<div class="col-sm-5"></div>
					</div>

				</form>

			</div>

<!--			<div ng-if="nomeUsuario" class="container well">
				<div class="row campo-form">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<p class="control-label text-center"><b>Bem vindo(a) {{nomeUsuario}}!<b></p>
					</div>
					<div class="col-sm-2"></div>
				</div>				
			</div>
			
		</div>
-->		
		<!-- ================= DEBUG ================= -->
		<debug objeto="{{vm.dadosLogin | json}}"></debug>
		
	</div>
</div>
