<div>
	<div ng-controller="EditarClienteController as vm" >
		<!-- ================= CORPO DA PAGINA ================= -->
	    <div class="row linha-site">
	    	<div class="container">
	    
				<!-- ================= TITULO ================= -->
				<div class="titulo-paginas-meio">
					<div ng-if="vm.cliente.codCliente">
						<h1>Editar H&oacute;spede</h1>
					</div>
					<div ng-if="!vm.cliente.codCliente">
						<h1>Cadastro de H&oacute;spede</h1>
					</div>
				</div>	


				<form>
					<div class="row campo-form" ng-if="vm.cliente.codCliente">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="nome" class="cols-sm-2 control-label">C&oacute;digo</label>
						</div>
						<div class="col-md-6">
							<span id="nome">{{vm.cliente.codCliente}}</span>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-2"></div>
					</div>
					
				<div class="well">
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="nome" class="cols-sm-2 control-label required">Nome</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="nome" id="nome" ng-model="vm.cliente.nome"
									placeholder="Nome do Fulano(a)" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-sm-2"></div>
						<div class="col-sm-2">
							<label for="dtNasc" class="cols-sm-2 control-label required">Data Nascimento</label>
						</div>
						<div class="col-sm-6">
							
							<p class="input-group">
								<input type="text" class="form-control" id="dtNasc"
									uib-datepicker-popup="{{format}}"
									ng-model="vm.cliente.dtNasc"
									is-open="vm.popup1.opened"
									datepicker-options="dateOptions" ng-required="true"
									close-text="Close" alt-input-formats="altInputFormats" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="vm.open1()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</p>		
						</div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="sexo" class="cols-sm-2 control-label">Sexo</label>
						</div>
						<div class="col-md-6">
							<div class="form-inline" id="sexo">
									<div class="radio col-sm-2">
										<input ng-model="vm.cliente.sexo" type="radio" name="radio-situacao" id="sexo-m"
											ng-value="1">
										<label for="radio-situacao-a">Masculino</label>
									</div>
									<div class="radio col-sm-2">
										<input ng-model="vm.cliente.sexo" type="radio" name="radio-situacao" id="sexo-f"
											ng-value="2">
										<label for="radio-situacao-i">Feminino</label>
									</div>
									<div class="radio col-sm-2">
										<input ng-model="vm.cliente.sexo" type="radio" name="radio-situacao" id="sexo-o"
											ng-value="0">
										<label for="radio-situacao-i">Outro</label>
									</div>
								</div>
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="nacionalidade" class="cols-sm-2 control-label">Nacionalidade</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="nacionalidade" id="nacionalidade" ng-model="vm.cliente.nacionalidade"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="Telefone1" class="cols-sm-2 control-label required">Telefone</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="telefone1" id="telefone1" ng-model="vm.cliente.telefone1"
									placeholder="(99)99999-9999" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="Telefone2" class="cols-sm-2 control-label">Telefone Opcional</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="telefone2" id="telefone2" ng-model="vm.cliente.telefone2"
									placeholder="(99)99999-9999" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="email1" class="cols-sm-2 control-label required">E-mail</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="email1" id="email1" ng-model="vm.cliente.email1"
									placeholder="fulano@abc.com" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="email2" class="cols-sm-2 control-label">E-mail Opcional</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="email2" id="email2" ng-model="vm.cliente.email2"
									placeholder="fulano@abc.com" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="cpf" class="cols-sm-2 control-label">CPF</label>
						</div>
						<div class="col-md-6">
							<input id="cpf" class="form-control" type="cpf" mask="999.999.999-99" ng-model="vm.cliente.cpf">
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="rg" class="cols-sm-2 control-label">RG</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="rg" id="rg" ng-model="vm.cliente.rg"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="passaporte" class="cols-sm-2 control-label">Passaporte</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="passaporte" id="passaporte" ng-model="vm.cliente.passaporte"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="endRua" class="cols-sm-2 control-label">Rua</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="endRua" id="endRua" ng-model="vm.cliente.endRua"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="endNro" class="cols-sm-2 control-label">N&uacute;mero</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="endNro" id="endNro" ng-model="vm.cliente.endNro"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="endBairro" class="cols-sm-2 control-label">Bairro</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="endBairro" id="endBairro" ng-model="vm.cliente.endBairro"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="endCidade" class="cols-sm-2 control-label">Cidade</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="endCidade" id="endCidade" ng-model="vm.cliente.endCidade"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="endUf" class="cols-sm-2 control-label">UF</label>
						</div>
						<div class="col-md-6">											
							<select id="endUf" class="campo-form"
								ng-options="item.codigo as item.descricao for item in vm.ufs" ng-model="vm.cliente.endUf"
								selectpicker>
								<option value="" selected>Selecione</option>
							</select>
							
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="EndCompl" class="cols-sm-2 control-label">Complemento</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" name="EndCompl" id="EndCompl" ng-model="vm.cliente.endCompl"
									placeholder="Ex. Fundos" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="senhaAcesso" class="cols-sm-2 control-label required">Senha Acesso</label>
						</div>
						<div class="col-md-6">
							<input type="password" class="form-control" name="senhaAcesso" id="senhaAcesso" ng-model="vm.cliente.senhaAcesso"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="confirmarSenhaAcesso" class="cols-sm-2 control-label required">Confirmar Senha</label>
						</div>
						<div class="col-md-6">
							<input type="password" class="form-control" name="confirmarSenhaAcesso" id="confirmarSenhaAcesso" ng-model="vm.cliente.confirmarSenhaAcesso"
									placeholder="" />
						</div>
						<div class="col-md-2"></div>
					</div>
					
					<div class="row campo-form">
						<div class="col-md-2"></div>
						<div class="col-md-2">
							<label for="status" class="cols-sm-2 control-label">Status</label>
						</div>
						<div class="col-md-6">
							<div class="form-inline" id="status">
								<div class="radio col-sm-2">
									<input ng-model="vm.cliente.status" type="radio"
										name="radio-status" id="ex-a" ng-value="1"> <label
										for="ex-a">Ativo</label>
								</div>
								<div class="radio col-sm-2">
									<input ng-model="vm.cliente.status" type="radio"
										name="radio-status" id="ex-i" ng-value="2"> <label
										for="ex-i">Inativo</label>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>			
					</div>
					<div class="col-sm-10">
						<div class="row botoes-direita">
							<button ng-if="!vm.cliente.codCliente" ng-click="vm.incluir()" class="btn btn-primary">Incluir</button>
							<button ng-if="vm.cliente.codCliente" ng-click="vm.alterar()" class="btn btn-primary">Alterar</button>
							<button ng-click="vm.irParaTelaConsultar()" class="btn btn-primary">Voltar</button>							
						</div>
					</div>
			</form>
		</div>
	</div>
	<!-- ================= DEBUG ================= -->
	<debug objeto="{{vm.cliente | json}}"></debug>
</div>
</div>