
<div>
	<div ng-controller="DetalharClienteController as dcc">

		<div class=".container">
			<div class="row">
				<div class="col-md-12" align="center">
					<div class=".text-sucess .bg-sucess">{{vm.msgs}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<h2>Detalhar do Cliente</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div><pre>{{dcc.cliente | json}}</pre></div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">ID</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.cliente.id}}</span>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">Nome</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.cliente.nome}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 lazarus-align">
				<div class="lazarus-align">
					<button ng-click="dcc.voltarParaTelaAnterior()" class="btn btn-primary">Voltar</button>
					<button ng-click="dcc.irParaTelaEdicao(dcc.cliente.id)" class="btn btn-primary">Editar</button>
					<button ng-click="dcc.excluir(dcc.cliente.id)" class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</div>

	</div>

</div>
