
<div>
	<div ng-controller="DetalharClienteController as dcc">

		<div class=".container">
			<div class="row  campo-form">
				<div class="col-md-12" align="center">
					<div class=".text-sucess .bg-sucess">{{vm.msgs}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 lazarus-align">
					<h2>Detalhar do Cliente</h2>
				</div>
			</div>

			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">C&oacute;digo</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.cliente.codCliente}}</span>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-2"></div>
			</div>
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nome" class="cols-sm-2 control-label">Nome</label>
				</div>
				<div class="col-md-6">
					<span id="nome">{{dcc.cliente.nome}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="dtNasc" class="cols-sm-2 control-label">Data Nascimento</label>
				</div>
				<div class="col-md-6">
					<span id="dtNasc">{{dcc.cliente.dataExibicao}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="sexo" class="cols-sm-2 control-label">Sexo</label>
				</div>
				<div class="col-md-6">
					<span id="sexo">{{dcc.cliente.sexoExibicao}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="nacionalidade" class="cols-sm-2 control-label">Nacionalidade</label>
				</div>
				<div class="col-md-6">
					<span id="nacionalidade">{{dcc.cliente.nacionalidade}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="Telefone1" class="cols-sm-2 control-label">Telefone 1</label>
				</div>
				<div class="col-md-6">
					<span id="Telefone1">{{dcc.cliente.telefone1}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="Telefone2" class="cols-sm-2 control-label">Telefone 2</label>
				</div>
				<div class="col-md-6">
					<span id="Telefone2">{{dcc.cliente.telefone2}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="email1" class="cols-sm-2 control-label">E-mail 1</label>
				</div>
				<div class="col-md-6">
					<span id="email1">{{dcc.cliente.email1}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="email2" class="cols-sm-2 control-label">E-mail 2</label>
				</div>
				<div class="col-md-6">
					<span id="email2">{{dcc.cliente.email2}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="cpf" class="cols-sm-2 control-label">CPF</label>
				</div>
				<div class="col-md-6">
					<span id="cpf">{{dcc.cliente.cpf}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<label for="rg" class="cols-sm-2 control-label">RG</label>
				</div>
				<div class="col-md-6">
					<span id="rg">{{dcc.cliente.rg}}</span>
				</div>
				<div class="col-md-2"></div>
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-12 lazarus-align">
				<div class="lazarus-align">
					<button ng-click="dcc.voltarParaTelaAnterior()" class="btn btn-primary">Voltar</button>
					<button ng-click="dcc.irParaTelaEdicao(dcc.cliente.codCliente)" class="btn btn-primary">Editar</button>
					<button ng-click="dcc.excluir(dcc.cliente.codCliente)" class="btn btn-primary">Excluir</button>
				</div>
			</div>
		</div>
		
		<!-- ================= DEBUG ================= -->
		<debug objeto="{{dcc.cliente | json}}"></debug>

	</div>
</div>
