	<div>
		<div ng-controller="DetalharClienteController as dcc">
			<h2>{{dcc.msgs}}</h2>
			<h2>Cliente Detalhar</h2>
			<div>
				<pre>{{dcc.cliente | json}}</pre>
			</div>

			<form>
				<div class="form-group">
					<label for="id" class="cols-sm-2 control-label">ID</label>
					<div class="cols-sm-4">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-user fa" aria-hidden="true"></i>
							</span>
							<input type="text" class="form-control" name="id" id="id" ng-model="dcc.cliente.id"
								placeholder="ID do Fulano(a)" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="nome" class="cols-sm-2 control-label">Nome</label>
					<div class="cols-sm-4">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-envelope fa" aria-hidden="true"></i>
							</span>
							<input type="text" class="form-control" name="nome" id="nome" ng-model="dcc.cliente.nome"
								placeholder="Nome do Fulano(a)" />
						</div>
					</div>
				</div>


				<div class="form-group ">
					<button ng-click="dcc.voltarParaTelaAnterior()" class="btn btn-primary">Voltar</button>
					<button ng-click="dcc.irParaTelaEdicao(dcc.cliente.id)" class="btn btn-primary">Editar</button>					
				</div>

			</form>

		</div>
	</div>
