
<!-- ======================= CONSULTA DE ATRIBUTOS =========================== -->
<div>
	<div ng-controller="ConsultarAtributoController as vm">
	
		<!-- ================= CORPO DA PAGINA ================= -->
		<div class="row linha-site">
		<div class="container">
		<!-- ================= TITULO ================= -->
		<div class="titulo-paginas-meio">
			<h1>Atributos</h1>
		</div>	
			
		<!-- ======================= CONSULTA DE ATRIBUTOS =========================== -->
		<div class=".container">
			<div class="row campo-form">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="form-group">
						<label for="nome" class="cols-sm-2 control-label">Nome</label>
						<div class="cols-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" name="nome" id="nome" ng-model="vm.atributo.nome"
									placeholder="Nome do Atributo" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div align="center">
						<button ng-click="vm.irParaTelaInclusao()" class="btn btn-primary">Incluir</button>
						<button ng-click="vm.pesquisarLimpar()" class="btn btn-primary">Pesquisar</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div ng-if="vm.atributos.length > 0">
						<table class="table table-striped grid-pesquisa">
							<thead>
								<tr>
									<td>Cod.</td>
									<td>Tipo</td>
		                            <td>Nome</td>
		                            <td>Descricao</td>      
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="atributo in vm.atributos">
									<td>{{ atributo.codAtributo}}</td>
									<td>{{ atributo.tipo}}</td>
									<td>{{ atributo.nome}}</td>
									<td>{{ atributo.descricao}}</td>
									<td>
										<button ng-click="vm.irParaTelaDetalhamento(atributo.codAtributo)" class="btn btn-primary btn-xs">Detalhar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>